<div class="block">

  <!--
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", adaptive_tests_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_adaptive_test_path %></li>
    </ul>
  </div>
  -->
  
  <div class="content">          
    <h2 class="title" align="center">All tests</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.adaptive_test.title", :default => t("activerecord.labels.title", :default => "Title")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @adaptive_tests.each do |adaptive_test| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= adaptive_test.id %>
          </td>
                    <td>
            <%= link_to adaptive_test.title, adaptive_test_path(adaptive_test) %>
          </td>
                    <td>
            <%= adaptive_test.created_at.year %>
          </td>
          <td class="last">
            <!--
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", adaptive_test_path(adaptive_test) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_adaptive_test_path(adaptive_test) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", adaptive_test_path(adaptive_test), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            -->
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
